{% extends "base.html" %}
{% load static %}
<title>{% block titulo %} - Travels{% endblock %}</title>
{% block js %}
{% if messages %}
{% for message in messages %}
toastr["{{message.tags }}"]("{{message}}");
{% endfor %}
{% endif %}
{% endblock %}
{% block menu %}
<li class="nav-item"><div class="mt-2 text-light" ><i class="fas fa-user fa-lg"></i> {{request.session.usuario.username}}</div></li>
<!-- <li class="nav-item"><a class="nav-link" href="/books/add"> | Add book and review </a></li> -->
<li class="nav-item"><a class="nav-link" href="/logout">| Logout</a></li>
{% endblock %}
{% block content %}
<div class="container col-xl-10 col-xxl-10 px-4 py-2">
  <!-- FILA  DE CONTENIDOS VIAJES PROGRAMADOS USUARIO -->
<div class="row">
<div class="bg-primary text-light  p-3 mb-2 shadow">
  <h5>Tus viajes programados</h5>
</div>
  <!-- TABLA DE CONTENIDOS CORRESPONDIENTES -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Destino</th>
        <th scope="col">Fecha inicio viaje</th>
        <th scope="col">Fecha término viaje</th>
        <th scope="col">Plan</th>
      </tr>
    </thead>
    <tbody>
      {% for travel in user_travel_list %}
      <tr>
        <td><a href="/travels/destination/{{travel.id}}">{{travel.destination}}</a></td>
        <td>{{travel.travel_date_from}}</td>
        <td>{{travel.travel_date_to}}</td>
        <td>{{travel.description}}</td>
      </tr>
      {% endfor %}
      {% if not user_travel_list %}
      <tr>
        <td>No tiene</td>
        <td>No tiene</td>
        <td>None</td>
        <td>None</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  <div class="border-bottom mb-2"></div>
</div>
  <!-- FILA DE CONTENIDOS VIAJES PROGRAMADOS OTROS USUARIOS -->
<div class="row">
  <div class="bg-primary text-light p-3 mb-2 shadow">
    <h5>Viajes programados de otros usuarios</h5>
  </div>
  <!-- TABLA DE CONTENIDOS CORRESPONDIENTES -->
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Destino</th>
      <th scope="col">Fecha inicio viaje</th>
      <th scope="col">Fecha término viaje</th>
      <th scope="col">Quieres unirte?</th>
    </tr>
  </thead>
  <tbody>
    {% for travels in users_travel_list %}
    <tr>
      <td>{{travels.usuario.username}}</td>
      <td><a href="/travels/destination/{{travels.id}}">{{travels.destination}}</a></td>
      <td>{{travels.travel_date_from}}</td>
      <td>{{travels.travel_date_to}}</td>
      <td><a href="/travel_join/{{travels.id}}">Unirse</a></td>
    </tr>
    {% empty %}
    <td>Sin registros</td>
    <td>Sin registros</td>
    <td>Sin registros</td>
    <td>Sin registros</td>
    <td>Sin registros</td>
    {% endfor %}
  </tbody>
</table>
<div class="border-bottom "></div>
  </div>
    <form action="/travel" method="post">
      {% csrf_token %}
      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
      <button class="btn btn-primary me-md-2" type="submit">Add travel plan</button>
    </div>
  </form>
</div>
{% endblock %}